<div class="game-container">
  <div
    class="player"
    [style.left.%]="playerPosition.x"
    [style.top.%]="playerPosition.y"
  >
    🚀
  </div>

  <div
    class="star"
    *ngFor="let star of stars"
    [style.left.%]="star.x"
    [style.top.%]="star.y"
  >
    ⭐
  </div>

  <div
    class="meteor"
    *ngFor="let meteor of meteors"
    [style.left.%]="meteor.x"
    [style.top.%]="meteor.y"
  >
    ☄️
  </div>

  <div class="scoreboard">
    <p>Puntaje: {{ score }} | Vidas: {{ lives }} | Nivel: {{ level }}</p>
    <button *ngIf="gameOver" (click)="restartGame()">Reiniciar</button>
    <p *ngIf="gameOver">¡Game Over! 😵‍💫</p>
  </div>
</div>
